body {
    background-color: rgb(91, 128, 79);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.name {
    display: inline;
    text-align: center;
}

.module-state {
    color: white;
    background-color: rgb(58, 55, 55);
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    opacity: 80%;
    border-radius: 5px;
    text-align: center;
}

.card {
    margin: 4%;
    float: left;
    background-color: grey;
    border-radius: 15px;
    width: 25%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.top {
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.name {
    border-radius: 5px;
    background-color: white;
    text-align: center;
    float: right;
    width: auto;
}

.air {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.column1 {
    background-color: white;
    float: left;
    text-align: center;
    width: 48%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.column2 {
    background-color: white;
    width: 48%;
    float: right;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.moisture {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.container {
    margin: 20px;
}