body {
    background-color: rgb(91, 128, 79);
}

header {
    color: white;
    text-align: center;
    background-color: #333;
    margin: 0;
    padding: 0;
}

ul {
    margin-top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: none;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.panel {
    color: white;
    background-color: #333;
    border-radius: 15px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.air-info {
    text-align: center;
    width: 48%;
    margin: 1%;
    border: 1px solid white;
    background-color:#333;
    float: left;
}

.hygrometrie {
    float: left;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

.temperature {
    float: right;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

.ground-info {
    text-align: center;
    width: 47%;
    margin: 1%;
    border: 1px solid white;
    background-color:#333;
    float: right;
}

.soil-hum {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.description {
    background-color: #333;
    text-align: left;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 2%;
    margin-left: 2%;
}

.title {
    text-align: center;
}

.logs {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}

.ground-settings {
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    float: right;
}
